@media screen and (max-width: 768px) {
  .banner-title {
    font-size: 2em;
  }
}

.banner {
  background-image: url("media/tallinn_view.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  min-height: 600px;
  position: relative;
  margin-bottom: 50px;
}

.banner-inner {
  position: relative;
  z-index: 1;
}

.banner-nav {
  background-color: rgba(170 170 170 / 50%);
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  position: relative;
  padding: 0 20px;
}

.navbar {
  padding-left: 0;
}

.navbar-nav {
  padding: 10px 0;
}

.nav-item {
  margin-left: 0;
  margin-right: 10px;
  margin-bottom: 2px;
  display: inline-flex;
}

.navbar-nav .nav-link {
  padding: 8px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
}

.banner-content {
  padding: 40px 0;
}

.banner-title {
  line-height: 1.5em;
}

.banner-shadow {
  background-color: rgba(0 0 0 / 50%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.source-text {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 0.8em;
  color: white;
}

p {
  font-size: 1.1em;
}

.right-img {
  float: right;
  margin-left: 5px;
}

.left-img {
  float: left;
  margin-right: 10px;
}

.right-img img,
.left-img img {
  max-width: 400px;
  width: 100%;
  border: solid black 2px;
}

.right-img figcaption,
.left-img figcaption {
  font-size: 0.9em;
  margin-top: 5px;
}

.map {
  width: 100%;
  border: solid black 5px;
}

.essentials img {
  width: 100%;
  border: solid black 2px;
}

.attraction {
  margin-top: 10px;
}

.photo-text {
  text-align: right;
  font-size: 0.8em;
}

.attraction-text {
  margin-top: 5px;
}
