.banner-nav {
    background-color: rgba(200, 200, 200, 0.5);
}

.nav {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 10px 0;
}

.nav-item {
    margin-right: 15px;
}

body {
    margin: 0;
    font-family: Montserrat;
}

.banner {
    background-image: url(media/tallinn_view.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    height: 600px;
    position: relative;
}

.banner-shadow {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.banner-inner {
    position: relative;
    z-index: 1;
}

.banner-content {
    padding: 40px 0;
}

.banner-title {
    line-height: 1.5em;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    position: relative;
    padding: 0 20px;
}

.source-text {
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 0.8em;
}

.source-text a {
    color: white;
}

p {
    font-size: 1.1em;
}

.coat_of_arms {
    width: 260px;
    height: 260px;
    filter: brightness(85%);
}

.market {
    float: right;
    width: 400px;
    height: 265px;
    margin-left: 20px;
    border-radius: 10%;
    border: solid black 2px;
}

.map {
    border: solid black 5px;
}